{% extends "base.html" %}

{% macro list(headline, entries) %}
{% if entries %}
<h2>{{ headline }}</h2>
<ul>
    {% for entry in entries %}
    <li>
        <time datetime="{{ entry.date.strftime("%Y-%m-%d") }}">{{ entry.date.strftime("%Y-%m-%d") }}</time>
        <a href="{{ basepath + '/' + entry.path }}">{{ entry.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}


{% block content %}

    <h1>Knecht Micro CMS</h1>

    {{ list("Your unfinished articles", user_drafts) }}

    {{ list("Global unfinished articles", drafts) }}

    {{ list("Static pages", pages) }}

    {{ list("Finished articles", entries) }}

{% endblock content %}

